<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXJS_NODEJS</title>
    <title><%=acerca%></title> <!--para poder referencial nuestro html en js y que podamos navegar por las paginas-->
    <link rel="stylesheet" type="text/css" href="styles.css"> 
</head>
<body>
  <!-- <nav class="menu-principal" id="navegacion" aria-label="Menú principal" style="background-color:green; padding: 10px;" -->
  <nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <ol>
    <ul>
      <li><a  href="inicio" href="#index.ejs" >Inicio</a></li>
      <li><a href="acerca" href="#acerca.ejs" >Acerca de</a></li>
      <li><a href="servicios.ejs">Servicios</a></li>
      <li><a href="contacto.ejs">Contacto</a></li>
    </ul>
  </ol>
  </nav>

    <h1> saludos</h1>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, fuga maiores labore delectus veniam est voluptas asperiores, 
        itaque odit vel ullam quo earum ipsa quae voluptatibus eaque tempora commodi saepe!</P>

        <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur a, quas veritatis necessitatibus quis porro laborum rerum perspiciatis sed, non dolor magnam odit tenetur adipisci molestiae. Minus explicabo, a eius natus ab ut, beatae quia officiis libero consectetur quam rem unde est iusto? Fuga dolore nulla sunt quaerat unde pariatur ex cupiditate iste animi officia, provident recusandae placeat doloremque beatae molestias architecto itaque veritatis sequi labore maiores minus! Voluptates consequuntur maxime similique voluptatem deleniti aperiam laborum sequi iste cum obcaecati dignissimos saepe tempora, facere labore odio velit odit placeat nostrum architecto eaque magni amet ducimus earum officia! Consequatur impedit optio laborum sunt? Numquam doloremque nostrum natus! Voluptatem rerum sint corporis et natus fugiat dolorem ab praesentium! Placeat quis vero, expedita eum delectus incidunt perferendis hic, ex reprehenderit cupiditate sapiente architecto aperiam soluta! Sed nostrum commodi saepe eius dolorum ad hic odio! Magnam accusantium minus ullam a sapiente distinctio. Earum fugit sit suscipit a? Optio libero adipisci assumenda, vel perferendis et laudantium quidem voluptas, quae voluptates molestiae, dolore tempore vero obcaecati accusamus. Fuga quasi animi optio quas dolorem, quibusdam quia eum aliquid rem saepe architecto eveniet fugiat adipisci, expedita odio reiciendis. Officiis omnis ipsa eius quaerat reprehenderit, enim ab quisquam illum iste labore rem sit fugiat reiciendis repellendus deserunt in, beatae incidunt officia. Expedita incidunt possimus fugiat ratione obcaecati ducimus exercitationem facilis excepturi, neque, assumenda esse voluptates! Impedit quaerat blanditiis harum obcaecati facere est iste consectetur excepturi, ut minima recusandae voluptate dignissimos, tenetur voluptatum beatae praesentium quasi quibusdam natus mollitia distinctio eum quia architecto atque! Fugit enim aliquam ut exercitationem accusamus recusandae ex, molestias quasi suscipit non omnis temporibus vel, ipsa explicabo sequi reiciendis, dolores repellendus illo eaque. Recusandae deserunt distinctio sequi numquam delectus aliquam. 
            Perspiciatis explicabo iure voluptatibus soluta placeat amet neque quo, ducimus repellat magni cumque maxime, sunt vel!</P>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur perferendis odit, nobis cum veritatis sint molestias alias distinctio nihil mollitia quod necessitatibus hic pariatur at repellendus maxime, tempore, voluptates placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis architecto laboriosam temporibus corrupti fugiat libero quae cumque nisi, vero eos mollitia, est, natus earum eius unde excepturi velit nemo veritatis. Natus excepturi soluta, vitae pariatur odio ab illum suscipit beatae. Sunt, quas repudiandae! Corporis nihil natus fugit architecto cum quae eum aliquam distinctio cumque quod praesentium cupiditate vitae aut ut nisi consequatur nesciunt omnis illum, voluptates qui quas modi? Odit harum, assumenda dolore dicta quidem ratione, nesciunt possimus natus, itaque error culpa deleniti aspernatur inventore? Ratione similique illum nisi aspernatur nobis ipsa inventore. Quae maiores, ipsa totam dignissimos atque fugiat non quo nisi nemo. Totam illo, similique adipisci blanditiis dolore necessitatibus ipsa mollitia voluptatem. Optio, quisquam corporis suscipit natus nesciunt consectetur atque voluptatum architecto maiores voluptates quod quae id, aspernatur expedita, molestiae fuga tenetur! Natus doloremque fuga nobis cupiditate a, cumque facere sit! Laborum eum ipsa totam deserunt voluptatem doloremque voluptatum ad eos tempore perspiciatis incidunt quae voluptate voluptas atque cumque est praesentium, enim dolorum commodi? Recusandae tempore fuga, animi quae eveniet ullam soluta assumenda eaque asperiores nihil qui! Fugiat libero ut molestias itaque vel magni explicabo distinctio a aliquid, veniam deserunt illo delectus voluptatibus nihil nesciunt tempore consequuntur sunt dicta eveniet doloremque. Animi, deleniti! Dolore optio, dolor doloribus necessitatibus corporis distinctio vero labore ex sit odio cupiditate pariatur atque quos nesciunt alias magnam numquam ratione impedit rem nemo aliquam aliquid dignissimos illo! Omnis, quis saepe. Dolores, distinctio magni facere dolorum commodi atque maxime neque voluptas laboriosam cum ipsam ut officiis, expedita delectus voluptate modi exercitationem harum qui minima pariatur autem. Earum odit iste aperiam, minima ut quisquam tenetur repudiandae. Nihil mollitia, est aliquid praesentium quaerat voluptatem voluptas nemo consectetur
     autem nam quas a eius, alias aliquam laudantium assumenda qui, optio error suscipit nulla tenetur voluptate fugiat libero! Minus, impedit? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit asperiores libero? Ad nihil, sunt delectus ullam expedita esse suscipit a iure? Nihil velit dicta numquam possimus amet delectus vero? Voluptatibus, sunt? Quae alias non nihil vel ea minus perferendis enim vero nobis labore! Ipsam ipsum, itaque, numquam nemo inventore, architecto qui dolor dolore sed recusandae corrupti eaque provident libero tenetur voluptatum quam accusantium? Itaque, laboriosam error sed tempore nobis, fugiat natus nesciunt autem cum aliquid, vero voluptatum dolores similique in iusto molestias sunt id et magni doloribus maiores quaerat expedita esse. Molestiae sint nam pariatur in cumque maxime nobis ut illum animi sit, suscipit expedita. Exercitationem quaerat ratione cum laborum delectus eveniet eius tempore. Temporibus modi dolor reprehenderit voluptatem, maiores aperiam assumenda esse ex asperiores expedita harum vitae, iusto, recusandae itaque quibusdam quas facilis ratione maxime unde tempora obcaecati. Mollitia quidem, quae eligendi corporis, harum non illo quo, voluptatibus fugiat rerum laborum at exercitationem recusandae nisi repellendus delectus suscipit nihil impedit dolore? Ipsum, error vero perspiciatis deleniti ex excepturi corrupti eligendi dolorem reprehenderit laudantium optio voluptas nam impedit maiores illum similique, autem laborum tempora expedita tenetur iusto. Obcaecati facere quo doloribus! Officia nisi voluptates aperiam asperiores ipsa beatae, porro sunt blanditiis labore dolorum architecto perspiciatis sit ab sequi eligendi dolorem impedit odio maiores consequatur voluptatem sapiente iusto? Veritatis officiis dolor debitis laudantium omnis exercitationem optio excepturi ipsam quae itaque suscipit odit nulla, vero voluptatem magni atque minus et dolores! Consequuntur et similique minima nulla modi itaque, perferendis, excepturi commodi dicta repellat laudantium quaerat vitae nisi accusantium, saepe sequi odio rerum magnam omnis! Officia, molestiae error tempore nemo dolores itaque nulla provident, 
     voluptatum fuga quod odio maxime fugiat quaerat vitae repudiandae?
      Numquam earum amet eius est nobis optio totam, labore velit soluta dicta quos blanditiis minus ad assumenda sed ea.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum temporibus voluptates nihil officia vel qui libero a vitae repudiandae. Voluptatum ex maiores provident laborum sequi necessitatibus nemo debitis iusto impedit quibusdam culpa doloremque modi ullam accusamus maxime eaque, quaerat dolorum, voluptates laboriosam at. Commodi eligendi explicabo est illum id blanditiis officiis, nam ullam ipsa eaque pariatur praesentium nemo corrupti non distinctio minima. Corporis voluptate voluptatem sunt quaerat voluptas? Dolores consequuntur voluptas consequatur eum deleniti repudiandae impedit magnam doloremque exercitationem? Eaque quasi, ab delectus facilis, eos officiis aperiam id tempora, sunt fugiat illo assumenda. Nemo aut at recusandae voluptate modi ipsum impedit earum esse quibusdam magnam iure in tempora eveniet sequi cum, voluptas neque numquam. Voluptates alias recusandae eveniet impedit, ex a ipsa cum perspiciatis facilis enim natus illo necessitatibus quas praesentium molestiae tenetur amet, unde totam at deleniti sunt ipsam odit. Enim repellat velit facere quam nostrum consequatur quo voluptate consectetur, doloremque ratione, eius sint harum sapiente. Error commodi excepturi similique, quisquam beatae ab culpa optio perspiciatis magni vitae veniam quae autem labore libero quasi amet maxime neque incidunt aperiam, omnis praesentium, nihil animi corrupti? Voluptatibus animi accusamus exercitationem expedita laudantium, magni necessitatibus repellat blanditiis error ipsa. Architecto nemo laborum ipsa accusamus incidunt! Consectetur fuga facilis asperiores iusto sed, porro non accusamus ad, culpa saepe, numquam dignissimos harum cumque tenetur architecto mollitia beatae magnam soluta nesciunt quos. Iusto, illo? Quisquam quod porro at iste? Sint vel excepturi hic ipsam eos, at fugit iusto officia animi inventore quod nihil quidem soluta totam quis consequuntur maxime ipsa dolores sit, cumque laboriosam aspernatur sed voluptatum molestias! Laudantium alias fugit, qui temporibus quasi illo nihil dolorum labore facilis fuga nostrum, maiores iure omnis libero molestiae magnam impedit ad laborum repellendus cupiditate recusandae, laboriosam odio unde doloribus! Recusandae, iure repellendus facere dolores enim consequatur? Impedit.
            </p>
    <div class="some-class" >
       
      <h1<%%= styles %%>BIENVENIDOS</h1>

        <!--aplicando este estilo css-->
        <style type="text/css">
          
            body { background-color: white;color: black;}
            h1 {font-weight: bold;text-align: center;}
            header { padding: 60px 20px; color: peru; font-size :50px; text-align:right;
            justify-items: auto;}
             p { margin-bottom :10px;  margin-left: 30px; justify-items: auto;}
             footer {text-decoration: overline; margin-top: 50px; color:black;}
             div { width:100%; height: 100px; background: #333;position:static; top:0;left:0;
           /* border-radius: 200%;*/text-align: center; font-size: 50px;}
          
           
            .navbar {
              background-color: #333;
              padding: 50px;
              text-align: center;
              font-size: 50px;
            }
            
            .navbar ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
            }
            
            .navbar li {
              display: inline;
            }
            
            .navbar a {
              color: white;
              text-decoration: none;
              padding: 50px;
            }
            
            .navbar a:hover {
              background-color: green;
            }
            


        </style>

      </div>
      <footer>
        
        <h1>&copy;DARIOS todos los derechos reservados 2023 </h1>
      </footer>
</body>
</html>